[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/How-to-Learn-to-Code/python-class/blob/master/Lesson_1_Basics/Lesson_1.ipynb)

# Lesson 1 - Basics of Variables, Data Types, and More in Python

### Learning Objectives

Students will gain a basic understanding of variables, data types, and working with simple expressions for comparison and computation.

* [Basic Math Operators: `+`, `-`, `*`, `/`, `**`](#math)
* [The Assignment Operator: `=`](#assign)
* [Comparison Operators: `>`, `<`, `==`, `>=`, `<=`](#compare)
* [Data Types: `int`, `float`, `str`, `bool`](#data)
* [Basic Functions: `print()`, `type()`, `int()`, `float()`, `str()`, `bool()`](#function)
* [In-Class Exercises](#homework)

#### Basic Math Operators: `+`, `-`, `*`, `/`, `**` <a id='math'></a>

The simplest way we can use Python is to use it as a calculator! You can use Python to do addition, subtraction, division, multiplication, and exponentiation. Let's walk through some simple math calculations.

$$ 2 + 3 $$

In [1]:
2 + 3

5

$$ \frac{6}{2} \cdot 20 - 100 $$

In [2]:
(6 / 2) * 20 - 100

-40.0

$$ 2^{8} $$

In [3]:
2 ** 8

256

* Was the above result what you expected? If you used `^`, then your result was 10; however, if you used `**`, then your result was 256. In Python, `**` is the exponentiation operator. (`^` is the [bitwise XOR operator](https://stackoverflow.com/a/2451393).) This demonstrates why it's important to check the answers you get from your code to make sure the results seem reasonable! You might not always get an error when your code is incorrect :)

#### The Assignment Operator: `=` <a id='assign'></a>

What if you want to store some value (like the result of one of the above calculations) and use it for another task later? As shown here, you can assign it to a variable with the assignment operator: `=`.

For example, let's assign the value 22 to variable `x` as, $$ x = 22. $$

In [4]:
x = 22

Notice that the code above did not return any result. That's because 22 is now stored in the variable called `x`!

In [5]:
x

22

Try assigning the values 1, 2, and 3 to the variables `x`, `y`, and `z` respectively:

In [6]:
x = 1
y = 2
z = 3

If you'd like to see what the values of the variables were, you can use the `print()` function. Here, the input of the function (what goes inside the parentheses) is whatever you'd like to display to the terminal, for example `print(x)`. Try printing the values of `x`, `y`, and `z`:

In [7]:
print(x)
print(y)
print(z)

1
2
3

We've already used another way to print the value of a variable that is special to Jupyter Notebooks: the result of the last line of a cell will be printed. Notice the difference between the following two cells:

In [8]:
print(x)
print(y)

1
2

In [9]:
x
y

2

Once you have variables assigned, you can use them to do basic operations. For example, try calculating the following. Be sure to use the assignment operator when necessary and print your results to check that they make sense.

1. Assign the variable `a` as the result of $4 + 5 \cdot 2$.

In [10]:
a = 4 + 5 * 2
print(a)

14

2. Compute $5 + a$.

In [11]:
print(5 + a)

19

3. Assign the variable `b` as the result of $\frac{a}{2.5}$.

In [12]:
b = a / 2.5
print(b)

5.6

**Note:** You can name a variable *almost* anything you'd like (although it's best to be descriptive for yourself and others that end up reading your code). The only restriction is: a variable's name must start with a letter or `_`. That means a variable *cannot* start with a number or other special symbol (like `!` or `?`). For fun, try assigning the value 3 to the variable `1variable` and see what the result is.

In [13]:
1variable = 3

SyntaxError: invalid decimal literal (752939674.py, line 1)

(If you get an error, don't worry! It's all part of the learning process. Try to understand what the error message is telling you and see if you can fix it. Python's error messages are *usually* pretty helpful.)

#### Comparison Operators: `>`, `<`, `==`, `>=`, `<=` <a id='compare'></a>

Comparison operators (`>`, `<`, `==`, `>=`, `<=`) can be used to compare two or more values (or variables). The output of the comparison is either a `True` or a `False`. Therefore, we often use comparison operators to set up condition statements (e.g. if this comparison statement is `True`, then do this task. If it is `False`, then do something else). You'll learn more about condition statements and control statements in Lesson 2.

Let's try a few comparisons and check the results:

$$ 2 > 1.5 $$

In [14]:
2 > 1.5

True

$$ 4 \leq 2 $$

In [15]:
4 <= 2

False

$$ 5 = 5.0 $$

In [16]:
5 == 5.0

True

$$ 6 \geq 6 $$

In [17]:
6 >= 6

True

$$ 7.4 < 3 $$

In [18]:
7.4 < 3

False

$$ b \leq x $$

In [19]:
b <= x

False

**Note**: Jupyter Notebooks (and other Python scripts) will remember the value of a variable that you've assigned in a previous cell (or higher in the script). This means that you can use the variables `x`, `y`, `z`, `a`, and `b` that you assigned in the previous cells in the comparison statements above.

#### Data Types: `int`, `float`, `str`, `bool` <a id='data'></a>

Programming languages often include different data types that can be used for different tasks (e.g. arithmetic, comparison, debugging, etc.). Here we'll discuss four of the most common types:
1. integer, `int`: whole numbers
2. float, `float`: decimal numbers
3. string, `str`: text
4. bool, `bool`: `True` or `False`

**Integers** <br>

Integers (`int`) are positive or negative whole numbers with no decimals. We've already been using them throughout today's lesson. For example, print the variables `x`, `y`, `z`, and `a`.

In [20]:
print(x)
print(y)
print(z)
print(a)

1
2
3
14

**Floats** <br>

Floats (`float`), short for floating point real values, are positive or negative numbers with decimals. As with integers, you can use them to do arithmetic or assign them to variables. Try evaluating the following expressions:

1. `f1` assigned to value 4.5

In [21]:
f1 = 4.5
print(f1)

4.5

2. `f2` assigned to value -3.0

In [22]:
f2 = -3.0
print(f2)

-3.0

3. `f1` + `f2`

In [23]:
print(f1 + f2)

1.5

**Strings** <br>

Strings (`str`) refer to text (i.e. they're a series of characters) and are often used for data manipulation or in print statements for debugging and monitoring tasks. You define them by placing the text within single or double quotation marks (`'` and `"`, respectively). Try defining the two nucleotide oligo sequences `GCGCTCAAT` and `TACTAGGCA` as `oligo1` and `oligo2`, respectively:

In [24]:
oligo1 = 'GCGCTCAAT'
oligo2 = "TACTAGGCA"
print(oligo1, oligo2)

GCGCTCAAT TACTAGGCA

**Booleans** <br>

Booleans (`bool`) are either `True` or `False`. Note the capitilization of the first letter. They are often used for comparisons (e.g. the output of $1 > 2$ would result in `False`). Additionally, it's important to note that `True` behaves as 1 and `False` behaves as 0 in arithmetic operations. Try the following:

1. Assign `t` to `True`.

In [25]:
t = True

2. Assign `f` to `False`.

In [26]:
f = False

3. Multiply `t` and `f` by 2

In [27]:
print(2 * t)
print(2 * f)

2
0

Remember the comparison statements we set up earlier? The output of those statements were booleans!

In [28]:
print(2 > 1.5)
print(4 <= 2)
print(5 == 5.0)
print(6 >= 6)
print(7.4 < 3)
print(b <= x)

True
False
True
True
False
False

#### Basic Functions: `print()`, `type()`, `int()`, `float()`, `str()`, `bool()` <a id='function'></a>

We've already been using one basic function: `print()`. Each function has a goal and performs a task. Functions take whatever is specified within the parentheses (the arguments), perform a task, and then output the results. They are extraordinarily useful for reproducible code, and you'll learn more about them in Lesson 3.

For now, let's explore some other basic functions. The function `type()` returns the data type of the argument you give it. See the examples below:

1. `type(2.1)`

In [29]:
type(2.1)

float

2. `type('hello world')`

In [30]:
type('hello world')

str

3. `type(1)`

In [31]:
type(1)

int

4. `type(True)`

In [32]:
type(True)

bool

There are other useful functions that let you specify the data type or coerce the data type into another. Specifically, `int()`, `float()`, `bool()`, and `str()` let you change the data type to an integer, float, boolean, and string, respectively. Let's take a look at how this works:

1. `int(2.1)`

In [33]:
int(2.1)

2

2. `str(20)`

In [34]:
str(20)

'20'

3. `bool(49)`

In [35]:
bool(49)

True

4. `float(3)`

In [36]:
float(3)

3.0

#### In-Class Exercises <a id='homework'></a>

The following exercises will help you understand the concepts taught in this lesson better.

1. Like in algebra, parentheses can be used to specify the order of operations. What would you expect to be the result of the following expressions? (Try to predict the answer before checking your answers in Python.)
$$1 + 3 * 3$$
$$(1 + 3) * 3$$
$$(4 * 4) + 5$$
$$1 > 3$$
$$"1" > "3"$$
$$14 >= 2 * 7$$
$$0 == \mathrm{False}$$
$$\mathrm{True} == 1 ^ {0}$$
$$\mathrm{int}(\mathrm{True}) == \mathrm{str}(1 ^ {0})$$
$$\mathrm{float("one")}$$

In [37]:
print(1 + 3 * 3)
print((1 + 3) * 3)
print((4 * 4) + 5)
print(1 > 3)
print('1' > '3')
print(14 >= 3 * 7)
print(0 == False)
print(True == 1 ** 0)
print(int(True) == str(1 ** 0))
print(float('one'))

10
12
21
False
False
False
True
True
False

ValueError: could not convert string to float: 'one'

2. Create two new variables, `comp_oligo1` and `comp_oligo2`, that are the complementary DNA sequences of `oligo1 and oligo2`. (Hint: A <-> T and G <-> C)

In [38]:
print(oligo1)
print(oligo2)

GCGCTCAAT
TACTAGGCA

In [39]:
comp_oligo1 = 'CGCGAGTTA'
comp_oligo2 = 'ATGATCCGT'

In [40]:
print(oligo1)
print('|' * len(oligo1))
print(comp_oligo1)

GCGCTCAAT
|||||||||
CGCGAGTTA

In [41]:
print(oligo2)
print('|' * len(oligo2))
print(comp_oligo2)

TACTAGGCA
|||||||||
ATGATCCGT

3. Compute the melting temperature ($\degree \mathrm{C}$) of `oligo1` and `oligo2` using the following equation: $$\mathrm{T_{m}} = 2(\mathrm{A} + \mathrm{T}) + 4(\mathrm{G} + \mathrm{C})$$ where A, T, G, and C refer to the number of A, T, G, C nucleotides in the oligo.

In [42]:
temp_oligo1 = 2 * (2 + 2) + 4 * (3 + 2)
temp_oligo2 = 2 * (2 + 3) + 4 * (2 + 2)

In [43]:
print('Melting temperature of', oligo1, 'is', temp_oligo1, 'C.')
print('Melting temperature of', oligo2, 'is', temp_oligo2, 'C.')

Melting temperature of GCGCTCAAT is 28 C.
Melting temperature of TACTAGGCA is 26 C.